<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manejo de sesiones</title>
    <link rel="stylesheet" href="/web/css/estilos.css">
    <script src="/web/scrip.js"></script>
</head>
<body>
    
